nav 
  display: flex
  align-items: center
  height: 6rem
  padding: 0 4rem
  background-color: var(--white)
  box-shadow: 0px 7px 14px rgba(0, 0, 0, 0.45);
  position: relative
  z-index: 1
  .logo
    font-size: 3rem
    font-weight: 700
    color: var(--active)
  
  form 
    display: flex
    align-items: center
    width: 35rem
    margin-left: auto
    border: 2px solid var(--active)
    border-radius: 1000px
    input
      width: 100%
      border: none
      outline: none
      border-radius: 100px
      margin: 2px .5rem
      padding-top: 0.8rem
      padding-bottom: 0.8rem
      padding-left: 1rem
    
      font-size: 1.6rem
      font-weight: 500
      color: var(--grey)
      
    button
      background-color: transparent
      color: var(--grey)
      font-size: 3rem
      margin-bottom: -.5rem
      padding-right: .5rem

  
